{
  "presets": ["env", "react"],
  "plugins": [
    "babel-plugin-styled-components",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
